@model ProjetParkingTest2.Models.ParkingViewModel

<div>
    <h4>ParkingViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NBPlaceTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NBPlaceTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NBPlaceLibre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NBPlaceLibre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
